* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.headerMobile {
  background-color: #232f3e;
  width: 100%;
}
.headerMobile__primero {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMobile__primero .parteIzq {
  align-items: center;
  justify-content: start;
  display: flex;
}
.headerMobile__primero .parteDer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerMobile__segundo {
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.headerMobile__segundo .botonBuscar {
  background-color: #f3f3f3;
  height: 42px;
  background-color: #febd69;
  border: none;
  border-top-right-radius: 8px;
}
.headerMobile__segundo .lupa {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}
.headerMobile__tercero {
  height: 45px;
  color: white;
  align-items: center;
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: bold;
}
.headerMobile .buscador {
  height: 40px;
  width: 80%;
  border: none;
  padding: 0 95px 0 10px;
  justify-content: center;
}

.headerDesktop {
  position: relative;
}
.headerDesktop__primero {
  background-color: #131921;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.headerDesktop__primero .parteIzqDesk {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}
.headerDesktop__primero .parteIzqDesk p {
  font-family: sans-serif;
  font-size: 15px;
  color: white;
  margin-left: 10px;
}
.headerDesktop__primero .Centro {
  align-items: center;
  width: 100%;
  justify-content: center;
  display: flex;
}
.headerDesktop__primero .Centro .buscadorDesk {
  height: 40px;
  width: 90%;
  border: none;
  border-radius: 0;
}
.headerDesktop__primero .Centro .botonBuscarDesk {
  background-color: #febd69;
  height: 40px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.headerDesktop__primero .parteDerDesk {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 10px;
  margin: 0 15px;
  width: 70%;
}
.headerDesktop__primero .parteDerDesk h4 {
  font-family: sans-serif;
  font-size: 9px;
  color: white;
  margin-left: 10px;
}
.headerDesktop__primero .parteDerDesk p {
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  margin-left: 10px;
  font-weight: bold;
}
.headerDesktop__segundo {
  height: 40px;
  background-color: #232f3e;
}
.headerDesktop__segundo ul {
  padding-top: 10px;
  display: flex;
  color: white;
  font-family: sans-serif;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.Icons {
  width: 40px;
  height: 40px;
}

.IconsLogo {
  width: 100px;
  height: 45px;
  padding-top: 14px;
}

.IconPin {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.location {
  height: 44px;
  background-color: #37475a;
  color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: start;
  display: flex;
}

.primeraImagenMovil {
  width: 100%;
  height: 400px;
  display: flex;
}

.primeraImagenDekstop {
  width: 100%;
  height: 400px;
  display: flex;
  padding: 0;
  background-color: #e3e6e6;
}

main {
  position: relative;
}

.catalogoMovil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
  background-color: white;
  transform: translateY(-50px);
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 5px;
}
.catalogoMovil div {
  width: 120px;
  height: 170px;
  background-color: white;
}

/*    for $n from 1 through 3 */
.catalogoDesktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2px;
  background-color: white;
  transform: translateY(-50px);
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 5px;
}

/*  div
 *      width: 300px
 *      height: 250px
 *      background-color: white*/
.iniciarSesion {
  background-color: white;
  width: 100%;
  height: 150px;
}

.iniciarSesion p {
  font-family: sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  margin-left: 5px;
}

.iniciarSesion button {
  background-color: #ffd814;
  border-radius: 30px;
  border: none;
  width: 90%;
  height: 50px;
  display: block;
  margin: 0 auto;
  color: black;
  font-weight: bold;
}

.iniciarSesion h5 {
  padding-top: 10px;
  margin-left: 5px;
}

.iniciarSesion h5 a {
  padding-top: 10px;
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

.divisor {
  width: 100%;
  height: 2px;
  background-color: #e3e6e6;
}

.SeccionDesktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 50px;
  height: auto;
  background-color: #e3e6e6;
}

.DesktopSeccion-1 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-1 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-1 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-1 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-1 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-2 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-2 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-2 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-2 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-2 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-3 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-3 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-3 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-3 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-3 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-4 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-4 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-4 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-4 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-4 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-5 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-5 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-5 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-5 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-5 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-6 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-6 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-6 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-6 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-6 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-7 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-7 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-7 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-7 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-7 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-8 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-8 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-8 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-8 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-8 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-11 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-11 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-11 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-11 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-11 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.DesktopSeccion-12 {
  height: auto;
  width: auto;
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  transform: translateY(-100px);
}
.DesktopSeccion-12 .Prueba {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  height: auto;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}
.DesktopSeccion-12 .Prueba img {
  width: 35%;
  object-fit: contain;
}
.DesktopSeccion-12 h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.DesktopSeccion-12 h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.PrimeraSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.PrimeraSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.PrimeraSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.PrimeraSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.SegundaSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.SegundaSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.SegundaSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.SegundaSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.TerceraSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.TerceraSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.TerceraSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.TerceraSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.CuartaSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.CuartaSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.CuartaSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.CuartaSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.QuintaSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.QuintaSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.QuintaSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.QuintaSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.SextaSeccion h4 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 10px 0 10px 5px;
}
.SextaSeccion__catalogo {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}
.SextaSeccion__catalogo div {
  width: 170px;
  height: 170px;
  background-color: white;
}
.SextaSeccion h5 {
  font-family: sans-serif;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  justify-content: start;
  padding-bottom: 10px;
  padding-left: 5px;
}

.PieDePaginaDesktop {
  height: auto;
  width: 100%;
  background-color: #232f3e;
}
.PieDePaginaDesktop img {
  display: block;
  margin: 0 auto;
}
.PieDePaginaDesktop__categorias {
  justify-content: space-between;
  display: flex;
}
.PieDePaginaDesktop__categorias--Conocenos {
  height: auto;
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
  justify-content: space-between;
  padding: 10px 10px;
}
.PieDePaginaDesktop__categorias--Conocenos li {
  list-style: none;
  line-height: 2;
  color: #c0c2c4;
}
.PieDePaginaDesktop__categorias--Conocenos h4 {
  font-weight: bold;
  padding-bottom: 10px;
}
.PieDePaginaDesktop__categorias--Dinero {
  height: auto;
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
  justify-content: space-between;
  padding: 10px 10px;
}
.PieDePaginaDesktop__categorias--Dinero li {
  list-style: none;
  line-height: 2;
  color: #c0c2c4;
}
.PieDePaginaDesktop__categorias--Dinero h4 {
  font-weight: bold;
  padding-bottom: 10px;
}
.PieDePaginaDesktop__categorias--Pagos {
  height: auto;
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
  justify-content: space-between;
  padding: 10px 10px;
}
.PieDePaginaDesktop__categorias--Pagos li {
  list-style: none;
  line-height: 2;
  color: #c0c2c4;
}
.PieDePaginaDesktop__categorias--Pagos h4 {
  font-weight: bold;
  padding-bottom: 10px;
}
.PieDePaginaDesktop__categorias--Ayuda {
  height: auto;
  color: white;
  font-family: sans-serif;
  padding-top: 10px;
  justify-content: space-between;
  padding: 10px 10px;
}
.PieDePaginaDesktop__categorias--Ayuda li {
  list-style: none;
  line-height: 2;
  color: #c0c2c4;
}
.PieDePaginaDesktop__categorias--Ayuda h4 {
  font-weight: bold;
  padding-bottom: 10px;
}

@media only screen and (min-width: 850px) {
  .headerMobile {
    display: none;
  }
  .location {
    display: none;
  }
  .primeraImagenMovil {
    display: none;
  }
  .iniciarSesion {
    display: none;
  }
  .catalogoMovil {
    display: none;
  }
  .objetosMovil {
    display: none;
  }
}
@media only screen and (max-width: 850px) {
  .headerDesktop {
    display: none;
  }
  .primeraImagenDekstop {
    display: none;
  }
  .catalogoDesktop {
    display: none;
  }
  .objetosDesktop {
    display: none;
  }
}
@media only screen and (min-width: 1500px) {
  .primeraImagenDekstop {
    padding: 0px 60px;
  }
}
footer {
  position: relative;
}

/*# sourceMappingURL=amazom.css.map */
