@use "./Components/_variables"
@use "./Components/_mixins"
*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    height: 100%
    margin: 0
    padding: 0

.headerMobile
    background-color: variables.$colornavPrincipal
    width: 100%
    &__primero
        height: 48px
        display: flex
        justify-content: space-between
        align-items: center
        .parteIzq 
            align-items: center
            justify-content: space-between
            display: flex
        .parteDer
            display: flex
            align-items: center
            justify-content: space-between
    &__segundo
        height: 50px
        justify-content: center
        align-items: center
        display: flex
        position: relative
        .botonBuscar
            background-color: #f3f3f3
            height: 42px
            background-color: #febd69
            border: none
            border-radius: 8px
            position: absolute
            left: 85% 
        .lupa
            position: absolute
            top: 10px
            left: 10px
            width: 20px
            height: 20px
    &__tercero
        height: 45px
        color: white
        align-items: center
        display: flex
        padding: 0 10px
        justify-content: space-between
        font-family: sans-serif
        font-weight: bold
    .buscador
        height: 40px
        width: 80%
        border: none
        padding: 0 95px 0 10px
        justify-content: center
        border-radius: 8px

.headerDesktop
    position: relative

    &__primero
        background-color: variables.$colornavPrincipalDesktop
        width: 100%
        height: 60px
        display: flex
        justify-content: space-between
        position: relative
        
        .parteIzqDesk
            width: 50%
            display: flex
            align-items: center
            justify-content: start
            margin-left: 10px
            p
                font-family: sans-serif
                font-size: 15px
                color: white
                margin-left: 10px
        .Centro
            align-items: center
            width: 100%
            justify-content: center
            display: flex
            select
                height: 40px
                max-width: 90px
                background-color: variables.$colorBotonTodos
                border-top-left-radius: 8px
                border-bottom-left-radius: 8px
                justify-content: space-between
                align-items: center
                display: flex
                padding: 0 10px
                cursor: pointer
                border-color: Orange
                border: 1px solid orange
                
                option
                    font-family: sans-serif
                    color: black
                    font-weight: bold
            .buscadorDesk
                height: 40px
                width: 100%
                border: none
                border-color: Orange
                border: 1px solid orange
                border-radius: 0
            .botonBuscarDesk
                background-color: #febd69
                height: 40px
                border: none
                border-top-right-radius: 8px
                border-bottom-right-radius: 8px
        .parteDerDesk
            width: 100%
            display: flex
            align-items: center
            justify-content: space-evenly
            margin-right: 10px
            margin: 0 15px
            width: 70%
            &__idioma
                align-items: center
                display: flex
            h4
                font-family: sans-serif
                font-size: 9px
                color: white
                margin-left: 10px
            p
                font-family: sans-serif
                font-size: 12px
                color: white
                margin-left: 10px
                font-weight: bold
            select
                height: 40px
                width: 60px
                background-color: variables.$colorBotonTodos
                border-top-right-radius: 8px
                border-bottom-right-radius: 8px
                align-items: center
                display: flex
                padding: 0 10px
                cursor: pointer
                background-color: variables.$colornavPrincipalDesktop
                border: none
                color: white
                option
                    font-family: sans-serif
                    font-weight: bold

    &__segundo
        height: 40px
        background-color: variables.$colornavSecundarioDesktop
        ul
            width: 75%
            padding-top: 10px
            display: flex
            color: white
            font-family: sans-serif
            list-style: none
            align-items: center
            justify-content: space-between
            li:first-child
                align-items: center
                display: flex
                cursor: pointer
            img
                cursor: pointer
    #categorias
        background-color: white
        height: 500px
        width: 300px
        position: relative

.Icons
    width: 30px
    margin: 0 5px
    cursor: pointer


.IconsDesk
    width: 40px
    height: 40px

.IconsLogo
    width: 100px
    padding-top: 10px
    cursor: pointer

.IconPin
    width: 20px
    height: 20px
    margin-left: 10px

.location
    height: 44px
    background-color:#37475a 
    color: white
    font-family: sans-serif
    align-items: center
    justify-content: start
    display: flex

.primeraImagenMovil
    width: 100% 
    height: 400px
    display: flex

.primeraImagenDekstop
    width: 100%
    height: 400px
    display: flex
    padding: 0
    background-color: #e3e6e6

.catalogoMovil
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

    div
        width: 150px
        background-color: white

.catalogoDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

.iniciarSesion
    background-color: white
    width: 100%
    height: 150px

.iniciarSesion p
    font-family: sans-serif
    font-size: 20px
    padding-bottom: 10px
    margin-left: 5px

.iniciarSesion button
    background-color: #ffd814
    border-radius: 30px
    border: none
    width: 90%
    height: 50px
    display: block
    margin: 0 auto
    color: black
    font-weight: bold

.iniciarSesion h5
    padding-top: 10px
    margin-left: 5px

.iniciarSesion h5 a
    padding-top: 10px
    font-family: sans-serif
    color: blue
    text-decoration: none
    cursor: pointer

.divisor
    width: 100%
    height: 2px
    background-color: #e3e6e6

.SeccionDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 10px
    padding: 30px
    height: auto
    background-color: #e3e6e6

.primerTexto
    color: black
    font-family: sans-serif
    font-size: 20px
    justify-content: start
    display: flex
    padding-top: 5px
    padding-left: 30px
.listAside
    list-style: none
    font-family: sans-serif
    font-weight: bold
    font-size: 17px
    padding: 7px 0 0 10px
    justify-content: start
    display: flex
    padding-left: 30px

#aside
    height: 100%
    width: 400px
    background-color: white
    position: fixed
    top: 0
    flex-direction: column
    z-index: 200
    transform: translateX(-400px)
    .Identificacion
        height: 50px
        width: 100%
        background-color: variables.$colorHeaderDelAside
        align-items: center
        justify-content: start
        display: flex
        padding-left: 30px
    p
        color: white
        font-size: 20px
        font-family: sans-serif
        font-weight: bold
        padding-left: 20px


.objetosDesktop
    position: relative 

@for $n from 1 through 12
    @if $n != 9 and $n != 10
        .DesktopSeccion-#{$n}
            height: auto
            width: auto
            display: flex
            top: 50px
            flex-direction: column
            align-items: start
            background-color: white
            justify-content: space-between
            gap: 5px
            transform: translateY(-100px)
            .Prueba
                display: flex
                gap: 4px
                align-items: center
                flex-wrap: wrap
                width: 330px
                justify-content: space-evenly
                position: relative
                overflow: hidden
                margin: 0 10px
                img
                    width: 40%
                    object-fit: cover
                .single-img
                    width: 90%
                    height: 100%
                    object-fit: cover
            h4
                @include mixins.seccionesH4()

            h5
                @include mixins.textoH5()
    @else 
        .DesktopSeccion-#{$n}
            width: 100%
            align-items: start
            background-color: white
            justify-content: space-between
            list-style: none
            position: static
            flex-direction: row
            padding: 5 10px
            margin-top: 30px
            transform: translateY(-100px)

            li
                flex-direction: row
                position: relative 
                display: inline-flex
                margin-right: 15px
                padding: 0 10px
            .Prueba
                justify-content: space-between
                white-space: nowrap
                overflow-x: auto
            h4
                @include mixins.seccionesH4()

.PrimeraSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()


.SegundaSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()

.TerceraSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()

.CuartaSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()

.QuintaSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()

.SextaSeccion
    h4
        @include mixins.seccionesH4()
    &__catalogo
        @include mixins.Seccion()
        div
            @include mixins.seccionesDiv()
    h5
        @include mixins.textoH5()


.PieDePaginaDesktop
    height: auto
    width: 100%
    background-color:#232f3e
    &__categorias
        justify-content: space-between
        display: flex
        &--Conocenos
            @include mixins.DivFooter()
        &--Dinero
            @include mixins.DivFooter()
        &--Pagos
            @include mixins.DivFooter()
        &--Ayuda
            @include mixins.DivFooter()
    .segundaParte
        justify-content: center
        display: flex
        flex-direction: row
        padding-top: 20px
        padding-bottom: 20px
        select, button
            height: 50px
            width: auto
            border-color: white
            border-radius: 8px
            color: white
            background-color: variables.$colorHeaderDelAside
            margin: 0 10px
            justify-content: center
            align-items: center
            padding: 0 10px
    .terceraParte
        height: auto
        width: 100%
        background-color: variables.$ultimaSeccionFooter
        display: flex
        padding: 0 20px
        flex-wrap: wrap
        gap: 20px
        div
            width: 80px
            height: 40px
            display: flex
            flex-direction: column
            justify-content: start

        p
            padding-top: 10px
            color: white
            font-family: sans-serif
            font-weight: bold
            font-size: 10px
            

        h4
            font-family: sans-serif
            font-size: 12px
            color: grey
    .divisor
        background-color: variables.$colorDivisorFooter


//flex-direction columns para resoluciones pequenas

@media only screen and (min-width: 850px)
    .headerMobile
        display: none
    .location
        display: none
    .primeraImagenMovil
        display: none
    .iniciarSesion
        display: none
    .catalogoMovil
        display: none
    .objetosMovil
        display: none
@media only screen and (max-width: 850px)
    .headerDesktop
        display: none
    .primeraImagenDekstop
        display: none
    .catalogoDesktop
        display: none
    .objetosDesktop
        display: none
@media only screen and (min-width: 1500px)
    .primeraImagenDekstop
        padding: 0px 60px

@media only screen and (min-width: 710px)
    .catalogoMovil
        div
            width: 200px
main
    position: relative

footer
    position: relative
    bottom: 0
header
    position: relative

@if checkbox == true
    aside
        display: flex
@else 
    aside
        display: none


#check:checked ~ #menu
    transform: translateX(-400px)
    transition: all 0.5s ease-in-out

#check:checked ~ #aside
    transform: translateX(800px)
    transition: all 0.5s ease-in-out