@use "./Components/_variables"
@use "./Components/_mixins"
@use "./Components/_headerMobile"
@use "./Components/_headerDesktop"
@use "./Components/_icons"
@use "./Components/_aside"
@use "./Components/_iniciarSesion"
@use "./Components/_seccionesDesktop"
@use "./Components/_seccionesMobile"
@use "./Components/_footer"

*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    height: 100%
    margin: 0
    padding: 0

main
    position: relative

.primeraImagenMovil
    width: 100% 
    display: flex

.primeraImagenDekstop
    width: 100%
    display: flex
    padding: 0
    background-color: #e3e6e6

.menu
    justify-content: start
    position: relative

.catalogoMovil
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

    div
        width: 150px
        background-color: white

.catalogoDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

.SeccionDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 10px
    padding: 30px
    height: auto
    background-color: #e3e6e6

#check
    display: none
    height: 100%
    width: 100%
    z-index: 500000000
    position: fixed

.fondoNegro
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 199
    display: none

@media only screen and (min-width: 850px)
    .headerMobile
        display: none
    .location
        display: none
    .primeraImagenMovil
        display: none
    .iniciarSesion
        display: none
    .catalogoMovil
        display: none
    .objetosMovil
        display: none

    #check:checked ~ #aside
    .menu2
        transform: translateX(360px)
        position: fixed
        margin-top: 10px

@media only screen and (max-width: 850px)
    .headerDesktop
        display: none
    .primeraImagenDekstop
        display: none
    .catalogoDesktop
        display: none
    .objetosDesktop
        display: none
    .Copyright 
        p
            font-size: 1px
    #aside
        width: 320px
    #check:checked ~ #aside
        .menu2
            transform: translateX(280px)
            position: fixed
            margin-top: 10px
@media only screen and (min-width: 1500px)
    .primeraImagenDekstop
        padding: 0px 60px

@media only screen and (min-width: 710px)
    .catalogoMovil
        div
            width: 200px

#check:checked ~ #menu
    .menu
        transform: translateX(-400px)
        transition: transform 0.5s ease-in-out

#check:checked ~ .fondoNegro
    display: block

#check:checked ~ #aside
    transform: translateX(0px)
    transition: transform 0.5s ease-in-out

#check:checked ~ #asideMovil
    transform: translateX(0px)
    transition: transform 0.5s ease-in-out


.menu2
    width: 20px
    height: 20px
