@use "./Components/_variables"
@use "./Components/_mixins"
@use "./Components/_headerMobile"
@use "./Components/_headerDesktop"
@use "./Components/_icons"
@use "./Components/_aside"
@use "./Components/_iniciarSesion"
@use "./Components/_seccionesDesktop"
@use "./Components/_seccionesMobile"
@use "./Components/_footer"

*
    box-sizing: border-box
    margin: 0
    padding: 0

html, body
    height: 100%
    margin: 0
    padding: 0

main
    position: relative

.primeraImagenMovil
    width: 100% 
    height: 400px
    display: flex

.primeraImagenDekstop
    width: 100%
    height: 400px
    display: flex
    padding: 0
    background-color: #e3e6e6

.catalogoMovil
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

    div
        width: 150px
        background-color: white

.catalogoDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    gap: 2px
    background-color: white
    transform: translateY(-50px)
    background-color: rgba(0,0,0, 0.05)
    margin: 0 5px

.SeccionDesktop
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 10px
    padding: 30px
    height: auto
    background-color: #e3e6e6

#check, #X
    display: none

@media only screen and (min-width: 850px)
    .headerMobile
        display: none
    .location
        display: none
    .primeraImagenMovil
        display: none
    .iniciarSesion
        display: none
    .catalogoMovil
        display: none
    .objetosMovil
        display: none
@media only screen and (max-width: 850px)
    .headerDesktop
        display: none
    .primeraImagenDekstop
        display: none
    .catalogoDesktop
        display: none
    .objetosDesktop
        display: none
    .Copyright 
        p
            font-size: 1px
@media only screen and (min-width: 1500px)
    .primeraImagenDekstop
        padding: 0px 60px

@media only screen and (min-width: 710px)
    .catalogoMovil
        div
            width: 200px

#check:checked ~ #menu
    transform: translateX(-400px)
    transition: transform 0.5s ease-in-out

#check:checked ~ #aside
    transform: translateX(0px)
    transition: transform 0.5s ease-in-out

#X:checked ~ #aside
    transform: translateX(-400px)
    transition: transform 0.5s ease-in-out