@use "./_variables"
@use "./_mixins"

header
    position: relative

.headerMobile
    background-color: variables.$colornavPrincipal
    width: 100%
    &__primero
        height: 48px
        display: flex
        justify-content: space-between
        align-items: center
        .parteIzq 
            align-items: center
            justify-content: space-between
            display: flex
        .parteDer
            display: flex
            align-items: center
            justify-content: space-between
    &__segundo
        height: 50px
        justify-content: center
        align-items: center
        display: flex
        position: relative
        .botonBuscar
            background-color: #f3f3f3
            height: 42px
            background-color: #febd69
            border: none
            border-radius: 8px
            position: absolute
            left: 85% 
        .lupa
            position: absolute
            top: 10px
            left: 10px
            width: 20px
            height: 20px
    &__tercero
        height: 45px
        color: white
        align-items: center
        display: flex
        padding: 0 10px
        justify-content: space-between
        font-family: sans-serif
        font-weight: bold
    .buscador
        height: 40px
        width: 80%
        border: none
        padding: 0 95px 0 10px
        justify-content: center
        border-radius: 8px