@use "./_variables"
    
@mixin Seccion()
    display: flex
    flex-wrap: wrap
    gap: 20px
    justify-content: space-evenly

@mixin textoH5()
    font-family: sans-serif
    color: blue
    text-decoration: none
    cursor: pointer
    justify-content: start
    padding-bottom: 10px
    padding-left: 5px

@mixin seccionesDiv()
    width: 170px
    height: 170px
    background-color: white

@mixin seccionesH4()
    font-family: sans-serif
    font-size: 15px
    margin: 10px 0 10px 5px

@mixin seccionesP()
    font-family: sans-serif
    font-size: 17px
    font-weight: bold
    
@mixin DivFooter()
    height: auto
    color: white
    font-family: sans-serif
    padding-top: 10px
    justify-content: space-between
    padding: 10px 10px
    li
        list-style: none
        line-height: 2
        color: #c0c2c4
    h4
        font-weight: bold
        padding-bottom: 10px

@mixin seccionesDivDesk()
    width: 300px
    height: 350px
    background-color: white

@mixin seccionDesk()
    display: flex
    flex-wrap: wrap
    gap: 20px
    justify-content: space-evenly
