$colornavPrincipal:#232f3e
$colorlocation:#37475a
$color-main: #e3ed2b
$colornavPrincipalDesktop: #131921
$colornavSecundarioDesktop: #232f3e
$colorHeaderDelAside: #232f3e
$colorBotonTodos: #e6e6e6
$colorDivisorFooter: #3a4553
$ultimaSeccionFooter: #131a22